layout {

    focus-ring {
        active-color   "#efa2ca"
        inactive-color "#29141f"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#efa2ca"
        inactive-color "#29141f"
        urgent-color   "#fd4663"
    }


    tab-indicator {
        active-color   "#efa2ca"
        inactive-color "#c31c73"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#efa2ca80"
    }
}

recent-windows {
    highlight {
        active-color "#efa2ca"
        urgent-color "#fd4663"
    }
}
